.content {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
}

mat-card {
    margin: 5px;
    background: gray;
    max-width: 100%;
}

mat-card img {
    margin: 5px;
    width: 90%;
    height: auto;
}